<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include ("./partials/head.ejs") %>
  </head>
  <body>
    <div id="crtvOverlay"></div>
    <div id="pageContainer">
      <div class="container">
        <form action="/" method="POST">
          <%-include ("./partials/innerForm.ejs") %>
        </form>
      </div>
    </div>
  </body>
</html>