/* GLOBAL */
* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.container{
    max-width:900px !important;
}


.trans-border {
  border: 2px solid white;
  background: transparent;
  color: white;

  -webkit-box-shadow: inset 0 0 10px white,  10px 10px 32px #636363;
    -moz-box-shadow: inset 0 0 10px white,  10px 10px 32px #636363;
    box-shadow: inset 0 0 10px white,  10px 10px 32px #636363;
  
}

.button-white {
  background-color: white;
  border: 2px solid white;
  color: black;

  box-shadow:10px 10px 32px #636363;
}

#crtvOverlay{
    position: fixed;
    pointer-events:none;
    z-index: 1;
    opacity: 10%;
    width:100vw;
    height: 100vh;
    background-size: cover;
    background-image: url("./assets/crtv overlay.png");
}

#pageContainer {
  width: 100vw;
  height: 100vh;
  background-color: black;
  text-shadow: 10px 10px 32px white;
  color: white;
  filter: blur(.3px);
  filter: sepia(30%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  font-family: "Courier New", Courier, monospace;
  -moz-box-shadow: inset 0 0 200px #636363;
  -webkit-box-shadow: inset 0 0 200px #636363;
  box-shadow: inset 0 0 200px #636363;
}


/* RESULTS PAGE */
#cityTitle{
    border-bottom-style: dashed ;
    margin-top:100px;
    box-shadow: 0 4px 2px -2px #636363;
}